absl-py==2.3.1
accelerate==1.10.1
addict==2.4.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyascii==0.3.2
anyio==4.10.0
async-timeout==5.0.1
attrs==25.3.0
audioread==3.0.1
babel==2.17.0
bitsandbytes==0.47.0
blis==1.3.0
boto3==1.40.22
botocore==1.40.22
Brotli==1.1.0
cached_path==1.7.3
cachetools==5.5.2
catalogue==2.0.10
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
cloudpathlib==0.22.0
cn2an==0.5.23
coloredlogs==15.0.1
confection==0.1.5
conformer==0.3.2
contourpy==1.3.2
csvw==3.6.0
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cycler==0.12.1
cymem==2.0.11
datasets==4.1.1
dateparser==1.1.8
decorator==5.2.1
Deprecated==1.2.18
dill==0.4.0
Distance==0.1.3
dlinfo==2.0.0
docopt==0.6.2
einops==0.8.1
einx==0.3.0
ema-pytorch==0.7.7
encodec==0.1.1
eng_to_ipa==0.0.2
espeakng-loader==0.2.4
exceptiongroup==1.3.0
-e git+https://github.com/SWivid/F5-TTS.git@77d3ec623b861ea3cebd3a11f0f9a14489112464#egg=f5_tts
faiss-cpu==1.12.0
fastapi==0.116.1
ffmpy==0.6.1
filelock==3.13.1
flatbuffers==25.2.10
fonttools==4.60.0
frozendict==2.4.6
frozenlist==1.7.0
fsspec==2025.9.0
fugashi==1.3.0
g2p-en==2.1.0
g2pkk==0.1.2
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-core==2.4.3
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gradio==5.44.1
gradio_client==1.12.1
groovy==0.1.2
grpcio==1.74.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
h11==0.16.0
hf-xet==1.1.10
httpcore==1.0.9
httpx==0.25.2
huggingface-hub==0.35.0
humanfriendly==10.0
hydra-core==1.3.2
HyperPyYAML==1.2.2
idna==3.10
inflect==7.0.0
isodate==0.7.2
jaconv==0.4.0
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.5.2
jsonlines==1.2.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kaldifst==1.7.17
kiwisolver==1.4.9
kokoro==0.9.4
langcodes==3.5.0
langid==1.1.6
language-tags==1.2.0
language_data==1.3.0
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.45.0
loguru==0.7.2
marisa-trie==1.3.1
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
mdurl==0.1.2
mecab-python3==1.0.10
-e git+https://github.com/myshell-ai/MeloTTS.git@209145371cff8fc3bd60d7be902ea69cbdb7965a#egg=melotts
misaki==0.9.4
modelscope==1.29.2
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.4
multiprocess==0.70.16
murmurhash==1.0.13
networkx==3.4.2
nltk==3.9.1
num2words==0.5.14
numba==0.62.0
numpy==2.2.6
ollama==0.1.7
omegaconf==2.3.0
onnxruntime-gpu @ file:///home/seeed/wheel/onnxruntime_gpu-1.22.0-cp310-cp310-linux_aarch64.whl#sha256=869e41abdc35e09345876f047fce49267d699df3e44b67c2518b0469739484ff
orjson==3.11.3
packaging==25.0
pandas==2.3.2
phonemizer-fork==3.3.2
pillow==11.3.0
plac==1.4.5
platformdirs==4.4.0
pooch==1.8.2
preshed==3.0.10
proces==0.1.7
propcache==0.3.2
proto-plus==1.26.1
protobuf==6.32.0
psutil==7.1.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
pygame==2.6.1
Pygments==2.19.2
pykakasi==2.3.0
pyparsing==3.2.4
pypinyin==0.55.0
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
rdflib==7.2.1
referencing==0.36.2
regex==2025.9.18
requests==2.32.5
resampy==0.4.3
rfc3986==1.5.0
rich==13.9.4
rpds-py==0.27.1
rsa==4.9.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
ruff==0.12.11
s3transfer==0.13.1
safehttpx==0.1.6
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.15.3
segments==2.3.0
semantic-version==2.10.0
sentry-sdk==2.38.0
shellingham==1.5.4
sherpa-ncnn==2.1.14
six==1.17.0
smart_open==7.3.1
smmap==5.0.2
sniffio==1.3.1
sounddevice==0.5.2
soundfile==0.13.1
soxr==1.0.0
spacy==3.8.7
spacy-curated-transformers==0.3.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
starlette==0.47.3
sympy==1.14.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
termcolor==3.1.0
thinc==8.3.6
threadpoolctl==3.6.0
tokenizers==0.22.1
tomli==2.2.1
tomlkit==0.13.3
torch @ file:///home/seeed/wheel/torch-2.7.0-cp310-cp310-linux_aarch64.whl#sha256=6eff643c0a7acda92734cc798338f733ff35c7df1a4434576f5ff7c66fc97319
torchaudio @ file:///home/seeed/wheel/torchaudio-2.7.0-cp310-cp310-linux_aarch64.whl#sha256=c59026d500c573666ae0437c4202ac312ac8ebe38fa12dbb37250a07c1e826f9
torchdiffeq==0.2.5
torchvision @ file:///home/seeed/wheel/torchvision-0.22.0-cp310-cp310-linux_aarch64.whl#sha256=daabff3a0725996886b92e4b5dd143f5750ef4b181b5c7d01371a9185e8f0402
tqdm==4.67.1
transformers==4.56.2
transformers-stream-generator==0.0.5
ttsfrd==0.1.0
txtsplit==1.0.0
typer==0.17.3
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.2
tzlocal==5.3.1
Unidecode==1.3.7
unidic==1.1.0
unidic-lite==1.0.8
uritemplate==4.2.0
urllib3==2.5.0
uvicorn==0.35.0
vocos==0.1.0
wandb==0.22.0
wasabi==0.10.1
weasel==0.4.1
websockets==15.0.1
Werkzeug==3.1.3
wetext==0.1.0
whisper==1.1.10
wrapt==1.17.3
x-transformers==2.7.6
xxhash==3.5.0
yarl==1.20.1
